:root {
  --clr-background: rgb(241, 245, 248);
  --clr-light: rgba(255, 255, 255, 1);
  --clr-light-grey: rgba(238, 242, 243, 0.422);
  --box-shadow-background: rgb(186, 186, 186);
  --box-shadow-light: rgb(213, 213, 213);
  --font-dark-grey: rgb(122, 130, 130);
  --icon-size: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--font-dark-grey);
}

/*  ========
    general
    ======== */
body {
  background-color: var(--clr-background);
}

.container {
  --header-height: 60px;
  --padding-window: 30px;

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  height: var(--header-height);
  text-align: right;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-size);
  background-color: var(--clr-light);
  box-shadow: 0 0 10px 1px var(--box-shadow-background);
  padding: var(--padding-window);
  position: sticky;
}

.main {
  --sub-menu-height: 110px;
  --padding-size: 50px;

  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
}

.sidebar {
  width: 90px;
  width: 90px;
  height: 100%;
  flex-shrink: 0;
  font-size: 18px;
  background-color: var(--clr-light);
  box-shadow: 0 0 10px 1px var(--box-shadow-background);
  transition: all 500ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.open {
  width: 230px;
  width: 230px;
}

.content-container {
  width: 100%;
}

.sub-menu {
  width: 100%;
  height: var(--sub-menu-height);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--padding-window);
}

.card {
  width: 100%;
  height: calc(100% - var(--sub-menu-height));
  padding: var(--padding-window);
  position: relative;
}

/*  ========
    header
    ======== */

.menu-btn-container {
  --icon-size: 25px;

  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 200ms ease;
}

.menu-btn-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  position: relative;
}

.search-input {
  font-size: 18px;
  background-color: rgba(247, 247, 247, 0.42);
  border: none;
  padding: 5px 35px 5px 20px;
  border-radius: 15px;
  z-index: 2;
}

.search-input::placeholder {
  opacity: 0.5;
}

.btn-cancel-search {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.btn-cancel-search.active {
  opacity: 0.2;
}

.greeting {
  margin-left: 30px;
}

.username {
  margin-left: 7px;
  min-width: 20px;
  max-width: 140px;
  height: 22px;
  cursor: pointer;
  /* outline: none; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username:hover {
  /* opacity: ; */
  background-color: rgb(235, 251, 247);
}

/* .username:focus{
  border: 1px solid lightgrey;
  background-color: white;
  
} */

/*  ========
    sidebar
    ======== */
.sidebar-top {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transition: all 500ms ease;
}

.sidebar.open .sidebar-top {
  height: 25%;
}

#profile-pic {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('docs/assets/images/default-profile-pic.png');
  color: white;
  border-radius: 50%;
  transition: 500ms ease;
  background-position: center;
  background-size: cover;
}

.sidebar.open #profile-pic {
  width: 110px;
  height: 110px;
}

label[for='profile-pic-upload'] {
  /* color:red; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  color: rgb(52, 52, 52);
  opacity: 0;
  visibility: hidden;
}

.upload-icon-container {
  --icon-size: 25px;

  width: var(--icon-size);
  height: var(--icon-size);
  display: none;
}

#profile-pic-upload {
  display: none;
}

.sidebar.open #profile-pic:hover label[for='profile-pic-upload'] {
  background-color: rgba(233, 233, 233, 0.951);
  transition: background-color 200ms ease, opacity 200ms ease;
  border: 4px solid white;
  box-shadow: 0 0 7px 0 rgb(141, 141, 141);
  opacity: 1;
  visibility: visible;
}

.sidebar-middle {
  height: 75%;
  display: flex;
  flex-direction: column;
  transition: height 500ms ease;
}

.sidebar.open .sidebar-middle {
  height: 65%;
}

.sidebar-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 13px var(--padding-window);
  position: relative;
}

.sidebar-icon-container {
  --icon-size: 25px;

  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
}

.sidebar.open .sidebar-icon-container {
  margin-right: 10px;
}

.sidebar-icon-container + div {
  width: 130px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 65px;
  transition: opacity 150ms ease-in;
  /* border: 1px solid red; */
}

.sidebar.open .sidebar-icon-container + div {
  opacity: 1;
  visibility: visible;
}

.total-tasks-remain {
  min-width: 23px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(2, 201, 201, 1);
  padding: 2px 5px;
  border-radius: 50px;
  position: absolute;
  right: 12%;
  color: white;
  visibility: hidden;
  transform: scale(0);
  transition: transform 500ms ease;
}

.sidebar.open .total-tasks-remain {
  visibility: visible;
  transform: scale(1);
}

#dashboard-icon {
  padding: 2px;
}

.dashboard,
.all-categories {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.dashboard {
  cursor: pointer;
}

.category-list {
  width: 230px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
  cursor: pointer;
  /* hide scroll bar in different broswer */
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* enable scroll  */
.category-list::-webkit-scrollbar {
  display: none;
}

.sidebar.open .category-list {
  opacity: 1;
  visibility: visible;
}

.category-list-item {
  list-style: none;
  padding: 13px var(--padding-window) 13px 64px;
  overflow-wrap: break-word;
}

.sidebar.open .dashboard-wrapper:hover,
.category-list-item:hover {
  background-color: rgba(215, 215, 215, 0.521);
}

.dashboard.active .dashboard-wrapper,
.category-list-item.active {
  background-color: rgba(204, 248, 239, 0.521);
}

.sidebar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--sidebar-width);
  bottom: 0;
  padding: 15px var(--padding-window);
  background-color: rgb(255, 255, 255);
  border-top: 1px solid lightgrey;
}

.btn-add-category,
.btn-delete-category {
  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-add-category:hover,
.btn-delete-category:hover {
  transform: scale(1.1);
}

.btn-delete-category {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.sidebar.open .btn-delete-category {
  opacity: 1;
  visibility: visible;
}

.new-category-form-container {
  visibility: hidden;
  position: absolute;
  width: 90px;
  opacity: 0;
  z-index: 1;
  transition: width 500ms ease;
}

.new-category-form {
  position: absolute;
  bottom: 45px;
  left: -30px;
  padding: 0 30px;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.dropdown.show .new-category-form-container {
  visibility: visible;
  opacity: 1;
  width: 230px;
}

.add-category-input {
  order: 2;
  border: none;
  width: 85%;
  height: 20px;
  font-size: 18px;
  outline: none;
  margin: 10px 0;
  background-color: rgb(243, 243, 243);
}

.add-category-input::placeholder {
  opacity: 0.5;
  /* color:white; */
}

.btn-create-category {
  background-color: transparent;
  border: none;
  font-weight: bold;
  margin-right: 5px;
  font-size: 30px;
  text-align: center;
  order: 2;
  cursor: pointer;
}

.btn-create-category:hover {
  color: rgba(237, 138, 63, 1);
}

.add-category-error-msg{
  position: absolute;
  bottom: 123px;
  left: 20px;
  font-size: 16px;
  color: rgba(237, 138, 63, 1);
  background-color: white;
  padding: 10px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease;
}

.add-category-error-msg.show{
  visibility: visible;
  opacity: 1;
}

.delete-category {
  background-color: transparent;
  border: none;
}

/*  ========
    sub-menu
    ======== */

.sub-menu-settings {
  --dropdown-margin-top: 20px;

  width: 250px;
  display: flex;
  justify-content: space-between;
}

.delete-options-container {
  position: relative;
}

.btn-trash-can-container,
.btn-view-modules-container,
.btn-view-lists-container,
.add-tasks-container {
  width: var(--icon-size);
  height: var(--icon-size);
}

.btn-trash-can,
.btn-view-modules,
.btn-view-lists,
.btn-add-task {
  border: none;
  background-color: transparent;
  transition: transform 200ms ease;
}

.btn-trash-can:hover,
.btn-view-modules:hover,
.btn-view-lists:hover,
.btn-add-task:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.delete-options-menu {
  position: absolute;
  left: -15px;
  background-color: white;
  padding: 0px 10px;
  margin-top: var(--dropdown-margin-top);
  border: 1px solid var(--clr-light-grey);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--box-shadow-light);
  display: none;
  z-index: 1;
}

.dropdown.show > .dropdown-btn + .dropdown-menu {
  display: block;
  opacity: 1;
}

.btn-clear-current-list,
.btn-clear-whole-list {
  width: 170px;
  text-align: left;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.btn-clear-current-list {
  border-bottom: 1px solid lightgrey;
}

.btn-clear-current-list:hover,
.btn-clear-whole-list:hover {
  color: rgb(68, 173, 179);
}

.view-options {
  width: var(--icon-size);
  height: var(--icon-size);
}

.add-tasks-container {
  position: relative;
}

.new-task-form {
  position: absolute;
  right: 20px;
  background-color: white;
  padding: 10px 20px 50px 20px;
  margin-top: var(--dropdown-margin-top);
  border: 1px solid var(--clr-light-grey);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--box-shadow-light);
  z-index: 2;
  display: none;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.form-row label {
  font-size: 16px;
  width: 100px;
}

.form-row input,
.form-row textarea {
  font-size: 16px;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 5px;
}

.form-row input[type='text'],
.form-row textarea {
  width: 250px;
}

.form-row textarea {
  resize: none;
}

.btn-create-task {
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(221, 238, 223);
  color: rgb(64, 170, 176);
  position: absolute;
  right: 22px;
  bottom: 15px;
}

.new-task-error-msg {
  position: absolute;
  bottom: 20px;
  left: 5px;
  margin-left: 13px;
  color: rgba(237, 138, 63, 1);
}

/*  ========
    card
    ======== */
.sort-btns-container {
  position: absolute;
  top: -10px;
  margin-left: -15px;
}

.sort-btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 2px 15px;
  transition: all 200ms ease;
  cursor: pointer;
}

.sort-all.show,
.sort-today.show,
.sort-ongoing.show,
.sort-completed.show {
  background-color: rgb(222, 222, 242);
}

.tasks-container.view-modules,
.tasks-container.view-lists {
  display: grid;
  width: 100%;
  max-height: 100%;
  margin-top: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tasks-container.view-modules::-webkit-scrollbar,
.tasks-container.view-lists::-webkit-scrollbar {
  display: none;
}

/* checkbox */
.task-name {
  position: relative;
}

[type='checkbox'] {
  transform: scale(0);
  position: absolute;
}

.custom-checkbox {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: -32px;
  border-radius: 50%;
  border: 2px solid rgb(202, 198, 230);
  cursor: pointer;
}

[type='checkbox']:checked + label .custom-checkbox {
  border: 2px solid rgb(202, 198, 230);
  background-color: rgb(202, 198, 230);
}

[type='checkbox']:checked + label .custom-checkbox::after {
  content: '✓';
  font-size: 20px;
  position: absolute;
  top: -5px;
  left: 2px;
  color: white;
}

/* view modules */
.tasks-container.view-modules {
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  gap: 25px;
}

.task-wrapper.view-modules {
  height: 200px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 5px solid rgb(128, 211, 213);
  padding: 20px 25px;
  position: relative;
}

.task-wrapper.view-modules .task-header-section {
  margin-left: 30px;
}

.task-wrapper.view-modules .task-name {
  font-size: 20px;
}

.task-wrapper.view-modules .description {
  height: 23px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* show "..." when text overflow */
  white-space: nowrap;
  /* single line input */
}

.task-wrapper.view-modules .remarks {
  width: 100%;
  height: 66px;
  word-break: normal;
  margin-top: 14px;
  margin-bottom: 10px;
  overflow: hidden;
  color: rgb(172, 172, 172);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  /* border: 1px solid red; */
}

.task-wrapper.view-modules .remarks::-webkit-scrollbar {
  display: none;
}

.task-wrapper.view-modules .date {
  position: absolute;
  left: 25px;
  bottom: 10px;
  font-size: 14px;
}

.task-wrapper.view-modules .priority {
  display: none;
}

.task-wrapper.view-modules .card-btns-container {
  position: relative;
  text-align: right;
  margin-top: 3px;
}

.edit-btns-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  background-color: white;
  z-index: 1;
  transition: width 300ms ease;
  visibility: hidden;
  /* visibility: to hide the element, can either be hidden or visible, so cannot add animation */
  opacity: 0;
  /* opacity: to hide the element, can be 0 to 1, the element are still clickable, so use together with visibility */
  width: 0;
  /* set a starting width so the tick and cross won't collapse at the beginning of animation */
}

.edit-btns-container.show {
  visibility: visible;
  width: 100px;
  opacity: 1;
}

.save-edit,
.cancel-edit,
.delete-task,
.edit-task {
  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
}

.save-edit,
.cancel-edit,
.delete-task {
  opacity: 0.7;
}

.edit-task {
  opacity: 0.5;
}

.cancel-edit > img {
  padding: 1px;
}

/* view lists */
.tasks-container.view-lists {
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}

.task-wrapper.view-lists {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border-left: 5px solid rgb(128, 211, 213);
  padding: 10px 20px 10px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-wrapper.view-lists .task-header-section {
  display: flex;
  flex-direction: row;
}

.task-wrapper.view-lists .task-name {
  /* position: absolute; */
  max-width: 250px;
  font-size: 20px;
  flex-shrink: 0;
  /* border: 1px solid red; */
  margin-left: 45px;
}

.task-wrapper.view-lists .description {
  max-width: 25%;
  margin-left: 15px;
  color: rgb(166, 166, 166);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: flex-end;
  /* border: 1px solid red; */
}

.task-wrapper.view-lists .date {
  position: absolute;
  right: 0px;
  padding: 0 20px;
  background-color: white;
  /* border: 1px solid red; */
}

.task-wrapper.view-lists .priority,
.task-wrapper.view-lists .remarks,
.task-wrapper.view-lists .edit-task {
  display: none;
}

.task-wrapper.view-lists .delete-task.show {
  display: block;
}

@media (max-width: 1100px) {
  .tasks-container.view-modules {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }

  .tasks-container.view-lists {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .tasks-container.view-lists {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 790px) {
  .sidebar {
    width: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: none;
  }

  .sidebar.open {
    width: 230px;
    width: 230px;
    visibility: visible;
    opacity: 1;
  }

  .sub-menu-settings {
    width: 180px;
  }
}

@media (max-width: 650px) {
  .tasks-container.view-modules {
    grid-template-columns: repeat(1, minmax(230px, 1fr));
  }
}

@media (max-width: 580px) {
  .greeting,
  .username {
    display: none;
  }

  .sub-menu {
    padding: 23px var(--padding-window);
    display: block;
  }

  .category-title {
    margin-top: -10px;
    padding-bottom: 15px;
  }

  /* .sub-menu-title {
    position: absolute;
    top: 73px;
  } */

  .task-remain {
    display: none;
  }

  .delete-options-menu {
    top: 21px;
  }

  .new-task-form {
    left: 16px;
    right: auto;
    top: 140px;
  }
  .tasks-container.view-modules {
    grid-template-columns: repeat(1, minmax(230px, 1fr));
  }
}

@media (max-width: 480px) {
  .sidebar.open {
    width: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  .sidebar-middle {
    margin: 0 auto;
  }

  .sidebar-item-wrapper {
    justify-content: left;
  }

  .sidebar.open .sidebar-icon-container {
    margin-right: 10px;
  }

  .sidebar-icon-container + div {
    position: relative;
    left: 0px;
  }

  .dropdown.show .new-category-form-container {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .form-row input[type='text'],
  .form-row textarea {
    width: 188px;
  }
}
